PANDAS

In [4]:
import pandas as pd
import numpy as np

In [5]:
print(pd.__version__)

2.2.2

PANDAS SERIES

In [6]:
#create an empty pandas series
pd.Series()

Series([], dtype: object)

In [9]:
#create a pandas series from a list
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
#create a pandas series from a numpy array
pd.Series(np.array([1, 2, 3, 4, 5]))

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
x = [1, 2, 3, 4, 5]
y = pd.Series(x)
y

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
# show values of the Series
y.values

array([1, 2, 3, 4, 5])

In [12]:
# name the Series
y.name = "Numbers"
y

0    1
1    2
2    3
3    4
4    5
Name: Numbers, dtype: int64

In [11]:
#create a pandas series from a dictionary
pd.Series({"a": 1, "b": 2, "c": 3, "d": 4, "e": 5})

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [15]:
# series indexation - assign index to the Series
z = pd.Series([1, 2, 3, 4, 5])
index_names=["a", "b", "c", "d", "e"]
z.index =index_names
z

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [18]:
# show the first element of the Series
z["a"]

1

In [20]:
z["e"] # show the last element of the Series

5

In [21]:
z[1:-1] # show the second to the fourth element of the Series]

b    2
c    3
d    4
dtype: int64

In [22]:
z[::-1] # show the Series in reverse order

e    5
d    4
c    3
b    2
a    1
dtype: int64

In [23]:

z[["a", "c", "e"]] # show the first, third and fifth element of the Series

a    1
c    3
e    5
dtype: int64

In [24]:
pd.Series(z, dtype="float") # change the data type of the Series

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [25]:
#sort_values() method
z.sort_values(ascending=False) # sort the Series in descending order

e    5
d    4
c    3
b    2
a    1
dtype: int64

In [27]:
z.iloc[3] = 10 # change the value of the fourth element of the Series
z

a     1
b     2
c     3
d    10
e     5
dtype: int64

In [28]:
z.iloc[3] = 4 # change the value of the fourth element of the Series back to 4
z

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [29]:
z + 5

a     6
b     7
c     8
d     9
e    10
dtype: int64

In [2]:
# g7 population in millions
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523]) # pd.Series() is a function that creates a Series object, here we create a Series object called g7_pop from a list of numbers
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [3]:
g7_pop.name = "G7 population in millions" # we can give a name to the Series object
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 population in millions, dtype: float64

In [4]:
g7_pop.dtype # we can check the data type of the Series object

dtype('float64')

In [5]:
g7_pop.values # we can check the values of the Series object

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [6]:
g7_pop.index # we can check the index of the Series object

RangeIndex(start=0, stop=7, step=1)

In [7]:
g7_pop.index = ["Canada", "France", "Germany", "Italy", "Japan", "United Kingdom", "United States"] # we can change the index of the Series object
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 population in millions, dtype: float64

In [8]:
# Turkic Countries, Population , Nominal GDP, GDP per Capita

tr_pop_list = [86, 37, 20, 10, 7, 6, 0.7] # here we just create a list of numbers instead of a Series object
tr_pop_list

[86, 37, 20, 10, 7, 6, 0.7]

In [9]:

turkic_pop = pd.Series([86, 37, 20, 10, 7, 6, 0.7]) # here we create a Series object called turkic_pop from a list of numbers
turkic_pop

0    86.0
1    37.0
2    20.0
3    10.0
4     7.0
5     6.0
6     0.7
dtype: float64

In [10]:
turkic_pop.name = "Turkic Countries Population in millions" # we can give a name to the Series object
turkic_pop

0    86.0
1    37.0
2    20.0
3    10.0
4     7.0
5     6.0
6     0.7
Name: Turkic Countries Population in millions, dtype: float64

In [11]:
tr_dict = pd.Series({
    "Türkiye" : 86,
    "Uzbekistan" : 37,
    "Kazakhstan" : 20,
    "Azerbaijan" : 10,
    "Kyrgyzstan" : 7,
    "Turkmenistan" : 6,
    "Turkish Republic of Northern Cyprus" : 0.7 
}, name="Turkic Countries Population in millions") # we can create a Series object from a dictionary

In [12]:
tr_7 = pd.Series([86, 37, 20, 10, 7, 6, 0.7], index=["Türkiye","Uzbekistan", "Kazakhstan", "Azerbaijan", "Kyrgyzstan", "Turkmenistan",  "Turkish Republic of Northern Cyprus"], name="Turkic Countries Population in millions") # we can create a Series object from a list and an index and   a name

tr_7

Türkiye                                86.0
Uzbekistan                             37.0
Kazakhstan                             20.0
Azerbaijan                             10.0
Kyrgyzstan                              7.0
Turkmenistan                            6.0
Turkish Republic of Northern Cyprus     0.7
Name: Turkic Countries Population in millions, dtype: float64

In [13]:
tr = pd.Series(turkic_pop) # we can create a Series object from another Series object
tr

0    86.0
1    37.0
2    20.0
3    10.0
4     7.0
5     6.0
6     0.7
Name: Turkic Countries Population in millions, dtype: float64

In [14]:
tr_pop = pd.Series(tr_pop_list, index=["Türkiye","Uzbekistan", "Kazakhstan", "Azerbaijan", "Kyrgyzstan", "Turkmenistan",  "Turkish Republic of Northern Cyprus"], name="Turkic Countries Population in millions") # we can create a Series object from a list object using the variable and an index and a name

In [15]:
tr = pd.Series(tr_pop_list) # we can create a Series object from a list object using the variable
tr.index = ["Türkiye","Uzbekistan", "Kazakhstan", "Azerbaijan", "Kyrgyzstan", "Turkmenistan",  "Turkish Republic of Northern Cyprus"] # we can set the index of a Series object
tr.name = "Turkic Countries Population in millions" # we can set the name of a Series object
tr

Türkiye                                86.0
Uzbekistan                             37.0
Kazakhstan                             20.0
Azerbaijan                             10.0
Kyrgyzstan                              7.0
Turkmenistan                            6.0
Turkish Republic of Northern Cyprus     0.7
Name: Turkic Countries Population in millions, dtype: float64

In [16]:
close_allies = pd.Series(tr_dict, index=["Türkiye","Azerbaijan", "Turkish Republic of Northern Cyprus"]) # we can create a new Series object from a dictionary object using the variable and an index

In [17]:
close_allies

Türkiye                                86.0
Azerbaijan                             10.0
Turkish Republic of Northern Cyprus     0.7
Name: Turkic Countries Population in millions, dtype: float64

In [18]:
close2 = pd.Series(tr_7, index=["Türkiye","Azerbaijan", "Turkish Republic of Northern Cyprus"])
close2

Türkiye                                86.0
Azerbaijan                             10.0
Turkish Republic of Northern Cyprus     0.7
Name: Turkic Countries Population in millions, dtype: float64

In [19]:
#indexing - use the index of the element to select a value

tr_pop["Türkiye"]

86.0

In [20]:
tr_pop["Azerbaijan"]

10.0

In [21]:
tr_pop[["Türkiye","Azerbaijan"]] #selecting multiple values

Türkiye       86.0
Azerbaijan    10.0
Name: Turkic Countries Population in millions, dtype: float64

In [22]:
#numeric positions - iloc attribute, by selecting sequential position

tr_pop.iloc[0] # selecting the first value

86.0

In [23]:
tr_pop.iloc[-1] # selecting the last value

0.7

In [24]:
tr_pop.iloc[[0,1,2]] # selecting multiple values, the result is a Series object

Türkiye       86.0
Uzbekistan    37.0
Kazakhstan    20.0
Name: Turkic Countries Population in millions, dtype: float64

In [25]:
tr_pop["Türkiye":"Azerbaijan"] # selecting a range of values, the result is a Series object, upper limit is inclusive

Türkiye       86.0
Uzbekistan    37.0
Kazakhstan    20.0
Azerbaijan    10.0
Name: Turkic Countries Population in millions, dtype: float64

In [26]:
# BOOLEAN ARRAYS

In [27]:
#Koşullu Seçimler - Conditional Selection - use a boolean array to select values

tr_pop

Türkiye                                86.0
Uzbekistan                             37.0
Kazakhstan                             20.0
Azerbaijan                             10.0
Kyrgyzstan                              7.0
Turkmenistan                            6.0
Turkish Republic of Northern Cyprus     0.7
Name: Turkic Countries Population in millions, dtype: float64

In [28]:
tr_pop > 10 # creating a boolean array and finding the values that are greater than 10

Türkiye                                 True
Uzbekistan                              True
Kazakhstan                              True
Azerbaijan                             False
Kyrgyzstan                             False
Turkmenistan                           False
Turkish Republic of Northern Cyprus    False
Name: Turkic Countries Population in millions, dtype: bool

In [29]:
tr_pop[tr_pop > 10] # selecting values greater than 10

Türkiye       86.0
Uzbekistan    37.0
Kazakhstan    20.0
Name: Turkic Countries Population in millions, dtype: float64

In [30]:
tr_pop.mean() # calculating the mean of the values

23.814285714285713

In [31]:
tr_pop[tr_pop > tr_pop.mean()] # selecting values greater than the mean

Türkiye       86.0
Uzbekistan    37.0
Name: Turkic Countries Population in millions, dtype: float64

In [32]:
tr_pop[tr_pop > tr_pop.mean()].index # selecting the index of the values greater than the mean

Index(['Türkiye', 'Uzbekistan'], dtype='object')

In [33]:
tr_pop.std()

29.946197787110837

In [34]:
# ~ not , | or , & and, | or
tr_pop[(tr_pop > tr_pop.mean()) & (tr_pop > tr_pop.std())] # selecting values greater than the mean and also greater than the standard deviation

Türkiye       86.0
Uzbekistan    37.0
Name: Turkic Countries Population in millions, dtype: float64

Operations and Methods

In [35]:
tr_pop

Türkiye                                86.0
Uzbekistan                             37.0
Kazakhstan                             20.0
Azerbaijan                             10.0
Kyrgyzstan                              7.0
Turkmenistan                            6.0
Turkish Republic of Northern Cyprus     0.7
Name: Turkic Countries Population in millions, dtype: float64

In [36]:
tr_pop *1000000 # multiplying the values by 1000000

Türkiye                                86000000.0
Uzbekistan                             37000000.0
Kazakhstan                             20000000.0
Azerbaijan                             10000000.0
Kyrgyzstan                              7000000.0
Turkmenistan                            6000000.0
Turkish Republic of Northern Cyprus      700000.0
Name: Turkic Countries Population in millions, dtype: float64

In [37]:
tr_pop.mean()

23.814285714285713

In [38]:
np.log(tr_pop) # calculating the natural logarithm of the values

Türkiye                                4.454347
Uzbekistan                             3.610918
Kazakhstan                             2.995732
Azerbaijan                             2.302585
Kyrgyzstan                             1.945910
Turkmenistan                           1.791759
Turkish Republic of Northern Cyprus   -0.356675
Name: Turkic Countries Population in millions, dtype: float64

In [39]:
tr_pop["Türkiye":"Azerbaijan"].mean() # calculating the mean of the values in the range of "Türkiye" to "Azerbaijan"

38.25

In [40]:
# boolean arrays
tr_pop[ (tr_pop > 30) | (tr_pop < 10)]

Türkiye                                86.0
Uzbekistan                             37.0
Kyrgyzstan                              7.0
Turkmenistan                            6.0
Turkish Republic of Northern Cyprus     0.7
Name: Turkic Countries Population in millions, dtype: float64

In [41]:
tr_pop[(tr_pop < 80) & (tr_pop > 10)] # selecting values between 10 and 80

Uzbekistan    37.0
Kazakhstan    20.0
Name: Turkic Countries Population in millions, dtype: float64

In [42]:
g7_pop[(g7_pop > 80) & (g7_pop < 200)] # selecting values between 80 and 200

Germany     80.940
Japan      127.061
Name: G7 population in millions, dtype: float64

In [36]:
neg = pd.Series([-1, 2, -3, 4, -5, -6, 7, -8, 9, -10])

mask  = neg < 0 # selecting values that are less than 0 and returning a boolean array
mask

0     True
1    False
2     True
3    False
4     True
5     True
6    False
7     True
8    False
9     True
dtype: bool

In [31]:
neg[mask]

0    -1
2    -3
4    -5
5    -6
7    -8
9   -10
dtype: int64

In [35]:
mask2 = neg > 5
mask2 # selecting values that are greater than 5 and returning a boolean array

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8     True
9    False
dtype: bool

In [ ]:
neg[mask2] # selecting values that are greater than 5

6    7
8    9
dtype: int64

In [ ]:
neg[mask & mask2] # selecting values that are less than 0 and greater than 5

In [37]:
# all() and any() methods
neg.all() # checking if all values are less than 0

True

In [48]:
neg.any() # checking if any value is less than 0

True

In [51]:

# Example Series
neg = pd.Series([1, -2, 3, -4, 5])

# Create a boolean mask
mask3 = neg < 0

# Filter the Series using the mask
negative_values = neg[mask3]

print(negative_values)

1   -2
3   -4
dtype: int64


modifying series

In [43]:
tr_pop

Türkiye                                86.0
Uzbekistan                             37.0
Kazakhstan                             20.0
Azerbaijan                             10.0
Kyrgyzstan                              7.0
Turkmenistan                            6.0
Turkish Republic of Northern Cyprus     0.7
Name: Turkic Countries Population in millions, dtype: float64

In [44]:
tr_pop["Türkiye"] = 100 # modifying the value of "Türkiye"

In [45]:
tr_pop

Türkiye                                100.0
Uzbekistan                              37.0
Kazakhstan                              20.0
Azerbaijan                              10.0
Kyrgyzstan                               7.0
Turkmenistan                             6.0
Turkish Republic of Northern Cyprus      0.7
Name: Turkic Countries Population in millions, dtype: float64

In [46]:
tr_pop[tr_pop < 20] # selecting values less than 20

Azerbaijan                             10.0
Kyrgyzstan                              7.0
Turkmenistan                            6.0
Turkish Republic of Northern Cyprus     0.7
Name: Turkic Countries Population in millions, dtype: float64

In [47]:
tr_pop[ tr_pop < 20] = 99 # modifying the values less than 20 to 99

In [48]:
tr_pop

Türkiye                                100.0
Uzbekistan                              37.0
Kazakhstan                              20.0
Azerbaijan                              99.0
Kyrgyzstan                              99.0
Turkmenistan                            99.0
Turkish Republic of Northern Cyprus     99.0
Name: Turkic Countries Population in millions, dtype: float64