In [83]:
# function to add two numbers
def add_numbers(x, y):
    # return the sum of x and y
    return x + y

In [84]:
add_numbers(1, 2)

3

In [85]:
# if-else
language = 'Python'
if language == 'Python':
    print(f'Language is {language}')
elif language == 'Go':
    print('Language is Go')
else:
    print('No match')

#by the way, this a comment, it will not be executed. You can use # for single line comments and triple quotes for multi-line comments. Place it above code or below code, or next to code.

Language is Python

In [86]:
# variables

name = "Toygar" # string variable
age = 50 # integer variable
print(f'My name is {name} and I am {age} years old.') # f-string for formatting strings

My name is Toygar and I am 50 years old.

In [87]:
# data types
integer_var = 100 # int
float_var = 23.45 # float
complex_var = 1j # complex number
string_var = "Hello" # string
list_var = [1, 2, 3] # list
tuple_var = (1, 'Toygar', 3.14) # tuple
range_var = range(6) # range
dict_var = {"name": "Toygar", "age": 50} # dictionary
set_var = {1, 2, 3} # set
frozenset_var = frozenset({1, 2, 3}) # frozen set
bool_var = True # boolean
byte_var = b"Hello" # byte
bytes_var = bytes(b"Hello") # byte array
bytearray_var = bytearray(b"Hello") # mutable byte array
memoryview_var = memoryview(bytes(b"Hello")) # memory view

print(integer_var)
print(float_var)
print(complex_var)
print(string_var)
print(list_var)
print(tuple_var)
print(range_var)
print(dict_var)
print(set_var)
print(frozenset_var)
print(bool_var)
print(byte_var)
print(bytes_var)
print(bytearray_var)
print(memoryview_var)

100
23.45
1j
Hello
[1, 2, 3]
(1, 'Toygar', 3.14)
range(0, 6)
{'name': 'Toygar', 'age': 50}
{1, 2, 3}
frozenset({1, 2, 3})
True
b'Hello'
b'Hello'
bytearray(b'Hello')
<memory at 0x79db864dcac0>

In [88]:
# data structures and operations
numbers = [1, 2, 3, 4, 5]
squares = [x**2 for x in numbers] # list comprehension
print("Squares:", squares)
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transposed = zip(*matrix) # zip function to transpose matrix
for row in transposed:
    print(list(row))

Squares: [1, 4, 9, 16, 25]
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [89]:
# floating point precision

fiyat = 123.456
print("Fiyat:", fiyat)
print("Fiyat (rounded):", round(fiyat, 2)) # rounding to two decimal places

Fiyat: 123.456
Fiyat (rounded): 123.46

In [90]:
# for fixed point arithmetic use Decimal from decimal module
from decimal import Decimal
fiyat = Decimal('123.456')
print("Fiyat:", fiyat)
print("Fiyat (rounded):", fiyat.quantize(Decimal('0.00'))) # rounding to two decimal places

Fiyat: 123.456
Fiyat (rounded): 123.46

In [91]:
# strings
greeting = "Hello, World!"
print("Original String:", greeting)

Original String: Hello, World!

In [92]:
type(greeting) # str type

str

In [93]:
len(greeting) # length of the string

13

In [94]:
# triple quoted strings for multi-line text
multi_line = """This is a 
multi-line string."""
print("Multi-Line String:\n", multi_line)

Multi-Line String:
 This is a
multi-line string.

In [95]:
# boolean values
is_true = True
is_false = False
print("Boolean True:", is_true)
print("Boolean False:", is_false)

Boolean True: True
Boolean False: False

In [96]:
# none type
nothing = None
print("None Type:", nothing)

None Type: None

In [97]:
type(nothing) # <class 'NoneType'>

NoneType

In [98]:
age = "50"
age = int(age) # convert string to integer
print("Age as Integer:", age)

Age as Integer: 50

In [ ]:
#FUNCTIONS
def greet(name):
    return f"Hello, {name}!"
print(greet("Toygar"))

Hello, Toygar!

In [100]:
#receive parameters and use them in the function
def add_numbers(a, b):
    return a + b
result = add_numbers(3, 5)
print("Sum:", result)

Sum: 8

In [101]:
#accept variable number of arguments
def add(*args): # *args for multiple arguments
    total = sum(args)
    return total
print("Sum of Multiple Numbers:", add(1, 2, 3, 4, 5)) # used as a tuple unpacking

Sum of Multiple Numbers: 15

In [102]:
#arithmetic operators
x = 10
y = 3
print("Addition:", x + y)
print("Subtraction:", x - y)
print("Multiplication:", x * y)
print("Division (float):", x / y) # float division
print("Division (integer):", x // y) # integer floor division
print("Modulus:", x % y)
print("Exponentiation:", x ** y)

Addition: 13
Subtraction: 7
Multiplication: 30
Division (float): 3.3333333333333335
Division (integer): 3
Modulus: 1
Exponentiation: 1000

In [103]:
# boolean 
True and True

True

In [104]:
not False

True

In [105]:
False or True

True

In [106]:
False

False

In [107]:
int(True) # 1

1

In [108]:
int(False) # 0

0

In [109]:
# control flow
i= 7
if i > 5:
    print("Greater than 5")
elif i == 5:
    print("Equal to 5")
else:
    print("Less than 5")

Greater than 5

In [110]:
# for loops
nba_players = [ "Lebron James", "Kevin Durant", "Stephen Curry"]
for player in nba_players:
    print(player)

Lebron James
Kevin Durant
Stephen Curry

In [111]:
seq = [1, 2, None, 4, None, 7]
total = 0
for val in seq:
    if val is None:
        continue #  skip to the next iteration

    total +=val

print(total)

14

In [112]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break  #    stop the loop
    total_until_5 += value

print(total_until_5)

13

In [113]:
for i in range(4):
    for j in range(4):
        if j > i:
            break  # inner loop only breaks when j>i
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [114]:
#while loops
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [115]:
x = 256
total = 0
ylist = [x]
while x > 0:
    print(x)
    if total > 500:
        break
    total += x
    x = x // 2
    ylist.append(x)
    

print(total)
print(ylist)

256
128
64
32
16
8
4
504
[256, 128, 64, 32, 16, 8, 4]

## Data Structures and Sequences

# LISTS

In [116]:
#collections, Sequences
#lists
# lists are variable length and their contents can be modified in place. Lists are mutable. You can define them using square brackets [] or using the list() type function.
my_list = [1,2,3,4,5]
print("List:", my_list)

List: [1, 2, 3, 4, 5]

In [117]:
print(len(my_list))
print(my_list[0]) #accessing elements by index

5
1

In [118]:
tup5 = ("Zehra", "Marina", "Cansu")
list_from_tuple = list(tup5) #converting tuples to lists
print(list_from_tuple)

['Zehra', 'Marina', 'Cansu']

In [119]:
liste = [ 2,3,5,7,None]
liste[4] = 99 #modifying an element in the list
print(liste)

[2, 3, 5, 7, 99]

In [120]:
liste2 = range(7) #range is an iterable object that generates integers in sequence. It can be converted to a list.
print(liste2) #range object
list(liste2) #converting range object to list

range(0, 7)

[0, 1, 2, 3, 4, 5, 6]

In [121]:
#adding or removing elements from a list
liste3 =  list(("Zehra", "Marina", "Cansu"))
liste3.append("Boskovic") #adding an element at the end of the list
liste3.insert(1, "Van Ryk") #inserting an element at a specific position, first argument is the position, second argument is the value to be inserted
liste3.remove("Marina") #removing an element from the list
print(liste3)

['Zehra', 'Van Ryk', 'Cansu', 'Boskovic']

In [122]:
liste3.pop(2) #removing an element at a specific position, if no argument is given it removes the last element in the list
print(liste3)
del liste3[1] #deleting an element at a specific position
print(liste3)

['Zehra', 'Van Ryk', 'Boskovic']
['Zehra', 'Boskovic']

In [123]:
"Zehra" in liste3 #checking if an element is in the list, returns True or False

True

In [124]:
"Marina" not in liste3 #checking if an element is not in the list, returns True or False by negating the result of in operator

True

In [125]:
#concatenation of lists
liste4 = liste3 + ["Marina", "Van Ryk"]
print(liste4)

['Zehra', 'Boskovic', 'Marina', 'Van Ryk']

In [126]:
liste4.extend(["Bosetti", "Derya"]) #adding multiple elements to the end of the list, extending the list with another list
print(liste4)

['Zehra', 'Boskovic', 'Marina', 'Van Ryk', 'Bosetti', 'Derya']

In [127]:
# sorting the list by length of the strings in ascending order
liste4.sort(key=len) 
print(liste4)

['Zehra', 'Derya', 'Marina', 'Van Ryk', 'Bosetti', 'Boskovic']

In [128]:
# slicing the list, getting sublists
liste4_sliced = liste4[:3] #first three elements
print(liste4_sliced)
liste4_sliced2 = liste4[1:3] #elements at position 1 and 2 (not including the element at position 3)
print(liste4_sliced2)

['Zehra', 'Derya', 'Marina']
['Derya', 'Marina']

In [129]:
dizi = [ 9, 6, 3, 5, 9, 7, 4, 5, 3]
dizi.sort() #sorts the list in ascending order
print(dizi)
dizi.reverse() #reverses the list
print(dizi)

[3, 3, 4, 5, 5, 6, 7, 9, 9]
[9, 9, 7, 6, 5, 5, 4, 3, 3]

In [130]:
#slicing
print(dizi[:5]) #first five elements
print(dizi[3:]) # elements starting at position 3 (including the element at position 3)
print(dizi[1:5]) # elements at positions 1,2,3 and 4 (not including the element at position 5)
print(dizi[:-1]) # all elements except the last one
print(dizi[-3:]) # last three elements
print(dizi[::2]) # every second element
print(dizi[::-1]) # reverses the list
print(dizi[-6:-2]) # elements at positions 4,5,6 and 7 (not including the element at position 8)

[9, 9, 7, 6, 5]
[6, 5, 5, 4, 3, 3]
[9, 7, 6, 5]
[9, 9, 7, 6, 5, 5, 4, 3]
[4, 3, 3]
[9, 7, 5, 4, 3]
[3, 3, 4, 5, 5, 6, 7, 9, 9]
[6, 5, 5, 4]

# TUPLES

In [131]:
#tuples
my_tuple = (1,2,3,4,5)
print("Tuple:", my_tuple)

Tuple: (1, 2, 3, 4, 5)

In [132]:
print(len(my_tuple))
print(my_tuple[0]) #accessing elements by index

5
1

In [133]:
# convert any sequence or iterator to a tuple by invoking tuple:

tup = tuple("Toygar") #creating a tuple from a string
print("Tuple from string:", tup)

Tuple from string: ('T', 'o', 'y', 'g', 'a', 'r')

In [134]:
tup[0] #accessing elements by index

'T'

In [135]:
nested_tup = (1,2,(3,4),5) #nested tuples
print("Nested tuple:", nested_tup)

Nested tuple: (1, 2, (3, 4), 5)

In [136]:
nested_tup[2][1] #accessing elements by index

4

In [137]:
#if an object inside a tuple is mutable, you can change it in place:
tup2 = (1, [2,3], 4)
tup2[1][0] = 'Toygar' #changing the value of a mutable object inside a tuple
print(tup2)

(1, ['Toygar', 3], 4)

In [138]:
# UNPACKING TUPLES
tup3 = (1,2,3)
a, b, c = tup3 #unpacking the tuple into variables
print("Unpacked tuple:", a, b, c)

Unpacked tuple: 1 2 3

In [139]:
tup4 = 6,7,(8,9),10 #packing and unpacking in a single statement
a, b, (c, d), e = tup4 #unpacking the tuple into variables
print("Unpacked tuple:",c, d, e)

Unpacked tuple: 8 9 10

In [140]:
#easily swap variable names
x, y = 10, 20
x, y = y, x #swapping values of x and y
print("Swapped variables:", x, y)

Swapped variables: 20 10

In [141]:
#swap back
y, x = x, y
print("Swapped back variables:", x, y)

Swapped back variables: 10 20

In [142]:
seq = [(1,2,3), (4,5,6), (7,8,9)]
for a, b, c in seq: #iterating over the sequence and unpacking each tuple
    print(a, b, c)

1 2 3
4 5 6
7 8 9

In [143]:
pluck = 1, 2, 3, 4, 5
a, b, *_ = pluck #  ignoring some values using _ underscore
print("Ignoring some values using _ :", a, b)

Ignoring some values using _ : 1 2

In [144]:
#Tuple Methods

print(seq)
seq.count((1,2,3)) #counting occurrences of a tuple in the sequence

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

1

# DICTIONARY

 A dictionary stores a collection of key-value pairs, where key and
value are Python objects. Each key is associated with a value so that a value can
be conveniently retrieved, inserted, modified, or deleted given a particular key.

In [145]:
# dictionaries
my_dict = {"name": "Toygar", "age": 50}
print("Dictionary:", my_dict)

Dictionary: {'name': 'Toygar', 'age': 50}

In [146]:
soz = {"a": "Toygar", "b": [1,2,3,4,5]} # dictionary with string and list as values
soz["b"] # accessing the value associated with key "b"

soz

{'a': 'Toygar', 'b': [1, 2, 3, 4, 5]}

In [147]:
soz["last_name"] = "Par" # adding a new key-value pair to the dictionary
soz

{'a': 'Toygar', 'b': [1, 2, 3, 4, 5], 'last_name': 'Par'}

In [148]:
"b" in soz # checking if "b" is a key

True

In [149]:
soz[7] = "İzmir" # adding a new key-value pair to the dictionary
soz

{'a': 'Toygar', 'b': [1, 2, 3, 4, 5], 'last_name': 'Par', 7: 'İzmir'}

In [150]:
soz["District"] = "Seferihisar" # adding a new key-value pair to the dictionary
soz

{'a': 'Toygar',
 'b': [1, 2, 3, 4, 5],
 'last_name': 'Par',
 7: 'İzmir',
 'District': 'Seferihisar'}

In [151]:
del soz[7] # deleting a key-value pair from the dictionary
soz
# Accessing all keys and values of a dictionary
print("Keys:", soz.keys())
print("Values:", soz.values())

Keys: dict_keys(['a', 'b', 'last_name', 'District'])
Values: dict_values(['Toygar', [1, 2, 3, 4, 5], 'Par', 'Seferihisar'])

In [152]:
pop_it = soz.pop("District") # removing a key-value pair from the dictionary by specifying the key
print("Popped value:", pop_it)
soz

Popped value: Seferihisar

{'a': 'Toygar', 'b': [1, 2, 3, 4, 5], 'last_name': 'Par'}

In [153]:
print(list(soz.keys())) # converting keys to a list
print(list(soz.values())) # converting values to a list

['a', 'b', 'last_name']
['Toygar', [1, 2, 3, 4, 5], 'Par']

In [154]:
# merge one dictionary into another
soz2 = {"City": "Izmir", "Population": 4000000}
soz.update(soz2) # updating the first dictionary with values from the second dictionary

In [155]:
soz

{'a': 'Toygar',
 'b': [1, 2, 3, 4, 5],
 'last_name': 'Par',
 'City': 'Izmir',
 'Population': 4000000}

In [156]:
#  two sequences that you want to pair up and combine into a dictionary, you can use the zip function to create pairs and then convert them into a dictionary.
keys = ["Batı Karadeniz", "Doğu Karadeniz", "İç Anadolu", "Ege"]
values = ["Zonguldak", "Giresun", "Ankara", "Aydın"]
soz3 = dict(zip(keys, values)) # creating a dictionary from two sequences by zipping them together
soz3

{'Batı Karadeniz': 'Zonguldak',
 'Doğu Karadeniz': 'Giresun',
 'İç Anadolu': 'Ankara',
 'Ege': 'Aydın'}

In [157]:
list(zip(keys, values)) # actually creates a list of tuples, where each tuple is a pair of elements from the input sequences which we can pass to the dict constructor to create a dictionary.

[('Batı Karadeniz', 'Zonguldak'),
 ('Doğu Karadeniz', 'Giresun'),
 ('İç Anadolu', 'Ankara'),
 ('Ege', 'Aydın')]

In [158]:
demet = zip(range(3), reversed(range(3))) # zip function is used to combine two iterables into a single iterable of tuples.
mapped = dict(demet) # creating a dictionary from the zipped iterable.
mapped # showing the zipped object

{0: 2, 1: 1, 2: 0}

In [159]:
# value = some_dict.get(key, default_value) - this method is used to retrieve a value from a dictionary using a key. If the key does not exist, it returns a default_value instead of raising a KeyError.
# default_value is optional and can be any value you want to return if the key does not exist. If it's omitted, None will be returned if the key doesn't exist.
value = mapped.get('a', 'default') # getting value for key 'a' with default value 'default'
print(value)

default

In [160]:
print(mapped
value = mapped.get(2, 'default') # getting value for key 1 with default value 'default'
print(value)

SyntaxError: '(' was never closed (1033711677.py, line 1)

In [ ]:
# the keys generally have to be immutable objects like scalar types (int, float, string) or tuples 
hash("Toygar")

3863476196239021936

In [ ]:
hash((1,2,(3,4)))

3794340727080330424

In [ ]:
soz4 = {}
soz4[tuple([1,2,3])] = 99 # 
soz4

{(1, 2, 3): 99}

# SETS

In [ ]:
# sets

s = {1,2,3,4,5}
print("Set:", s)

Set: {1, 2, 3, 4, 5}

In [ ]:
s.add(6) #adding an element to the set
print("After adding 6:", s)

After adding 6: {1, 2, 3, 4, 5, 6}

In [ ]:
s.pop() #removing a random element from the set
print("After removing one element:", s)

After removing one element: {2, 3, 4, 5, 6}

In [ ]:
a = {1,2,3,4,5,6} #  a set with 6 elements

b = {4, 5, 6, 7, 8, 9} #    b set with 6 elements

In [ ]:
# union of these two sets
a.union(b) # or we can use a | b 
print("Union of sets a and b:", a.union(b))

Union of sets a and b: {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#intersection
a.intersection(b) # or we can use a & b

{4, 5, 6}

In [ ]:
#intersection_update
a.intersection_update(b) # or we can use a &= b 
a

{4, 5, 6}

In [ ]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

a.intersection_update(b)  # or a &= b, The operation is in-place, meaning the original set a is modified.The argument b can be any iterable, but duplicates are ignored since the operation treats b as a set. If a and b have no common elements, a becomes an empty set.
print(a)  # Output: {3, 4}

{3, 4}

In [ ]:
a = {1,2,3,4,5,6} #  a set with 6 elements

b = {4, 5, 6, 7, 8, 9} #    b set with 6 elements

In [ ]:
a.symmetric_difference(b) # Returns a new set with elements that are in either a or b, but not both. This is equivalent to (a | b) - (a & b). The original sets a and b remain unchanged.

{1, 2, 3, 7, 8, 9}

In [ ]:
a.symmetric_difference_update(b) # Updates the set a with elements that are in either a or b, but not both. The original set b remains unchanged.

# Example usage:
result_set = a.symmetric_difference(b) # result_set will be {1, 2, 3, 7, 8, 9}
print(result_set)
print(b)
print(a)

{1, 2, 3, 7, 8, 9}
{4, 5, 6, 7, 8, 9}
{1, 2, 3, 6, 5, 4}

In [ ]:
a.issubset(b) # Returns True if every element in the set a is also in the set b, otherwise False.
# Example usage:
result_bool = a.issubset(b) # result_bool will be False because 1 is not in set b
print(result_bool)

False

In [ ]:
a.issuperset(b) # Returns True if every element in the set b is also in the set a, otherwise False.
# Example usage:
result_bool = a.issuperset(b) # result_bool will be False because 1 is not in set b
print(result_bool)

False

In [ ]:
a.isdisjoint(b) #   Returns True if the set a and b have no elements in common, otherwise False.

False

In [ ]:
c = a.copy() # Returns a shallow copy of the set a. Also means c |= a
c

{1, 2, 3, 4, 5, 6}

In [ ]:
d = a.copy() # Returns a shallow copy of the set b. Also means d |= b
d &= b # Updates the set d with elements in both a and b, keeping only those that are in both sets.
d

{4, 5, 6}

In [ ]:
# to store list-like elements in sets, convert them to tuples:
liste5 = [1,2,3,4,5]
setim = {tuple(liste5)}

setim

{(1, 2, 3, 4, 5)}

In [ ]:
liste = list(range(10))
print("List with range:", liste)

List with range: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
pivot = 5
less = list()
greater = list()
equal = list()
 
for x in liste:
    if x == pivot:
        print(f"Found {pivot} in the list")
        equal.append(x)
        continue
    elif x < pivot:
        less.append(x)
    else:
        greater.append(x)

print("Less than pivot:", less)
print("Greater than pivot:", greater)
print("Equal to pivot:", equal)

Found 5 in the list
Less than pivot: [0, 1, 2, 3, 4]
Greater than pivot: [6, 7, 8, 9]
Equal to pivot: [5]

In [ ]:
a = "taco"
getattr(a, "split") #returns the function object of split method in string class

In [ ]:
# duck typing example
def isiterable(obj): #checks if an object is iterable
    try:
        iter(obj) # iter() function will raise a TypeError if the object is not iterable
        return True
    except TypeError:
        return False
print("Is 'hello' iterable?", isiterable('hello'))

Is 'hello' iterable? True

In [ ]:
print(isiterable([1, 2, 3]))

print(isiterable({'a': 1, 'b': 2}))

# print(isiterable(5)) # This will raise a TypeError and the function will return False

True
True

In [ ]:
#string formatting example
template = "{0:.2f} {1:s} eşittir {2:d} {3:s}"
print(template.format(100.00 , "kuruş", 1, "lira")) #output:  100.00 kuruş eşittir 1 lira

100.00 kuruş eşittir 1 lira

In [ ]:
amount = 200

rate = 40

currency = 'TL'

result = f"{amount} {currency} is worth only ${amount / rate}. Which is very SAD!"

print(result)

200 TL is worth only $5.0. Which is very SAD!

In [ ]:
#type casting example
x = int("1") + float("2.5") * 3 
print(x) #output: 8.0

8.5

In [ ]:
pi = 3.14159
print(int(pi)) #output: 3
print(float(pi)) #output: 3.14159
print(type(int(pi))) #output: <class 'int'>
print(type(float(pi))) #output: <class 'float'>
print(str(pi)) #output: 3.14159
print(bool(pi)) #output: True
print(complex(pi)) #output: (3.14159+0j)

3
3.14159
<class 'int'>
<class 'float'>
3.14159
True
(3.14159+0j)

In [ ]:
# dates and times example

from datetime import datetime, date, time

dt = datetime(1923, 10, 29, 9, 5, 30)

In [ ]:
print(dt.day)
print(dt.month)
print(dt.year)
print(dt.hour)
print(dt.minute)
print(dt.second)
print(dt.weekday()) # Monday is 0 and Sunday is 6

29
10
1923
9
5
30
0

In [ ]:
dt.date() # returns the date part of dt, which is a datetime object representing the same date as dt

datetime.date(1923, 10, 29)

In [ ]:
dt.time() # returns the time part of dt, which is a datetime object representing the same time as dt

datetime.time(9, 5, 30)

In [ ]:
dt.strftime("%d-%m-%Y %H:%M") # output: "29-10-1923 09:05", strftime formats dates and times into strings using C standard library's strftime() function, which supports a variety of format codes.

'29-10-1923 09:05'

In [ ]:
# strings can be converted or parsed back to datetime objects with the strptime() method, which is similar to strftime but parses strings instead of formatting them:
datetime.strptime("29-10-1923 09:05", "%d-%m-%Y %H:%M") # output: dt is a datetime object representing the date and time "29-10-1923 09:05"

datetime.datetime(1923, 10, 29, 9, 5)

In [ ]:
dt_hour = dt.replace(minute=0, second=0) # creates a new datetime object with the same year, month, day, and hour as dt, but with minute and second set to 0
print(dt_hour) # output: "2019-10-29 09:00:00"

1923-10-29 09:00:00

In [ ]:
dt3 = datetime.now() # creates a new datetime object representing the current date and time
print(dt3)

2025-05-10 23:57:05.316909

In [ ]:
delta = dt3 - dt # calculates the difference between two datetime objects, which is an timedelta object
print(delta) # output: "1 day, 2 hours"

37084 days, 14:51:35.316909

In [ ]:
dt + delta

datetime.datetime(2025, 5, 10, 23, 57, 5, 316909)

In [ ]:
# range() function in Python can be used to generate a sequence of numbers. It takes three arguments: start, stop, and step. The start argument specifies the first value of the sequence, the stop argument specifies the end of the sequence (not included), and the step argument specifies the increment between each number in the sequence.

range(7)

range(0, 7)

In [ ]:
list(range(7)) # converts a range object to a list

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
list(range(0,7,2)) # generates numbers from 0 to 6 with a step of 2

[0, 2, 4, 6]

In [ ]:
list(range(7,0,-1)) # generates numbers from 7 to 1 in descending order

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
seq = [1,2,3,4,5,6,7]
for i in range(len(seq)):
    print(f"element {i} is: {seq[i]}")

element 0 is: 1
element 1 is: 2
element 2 is: 3
element 3 is: 4
element 4 is: 5
element 5 is: 6
element 6 is: 7

In [ ]:
total = 0
for val in range(1000):
    if val % 3 == 0 or val % 5 == 0:
        total += val
print(total)

233168

In [ ]:
from itertools import groupby
from typing import Any, Iterator

words = [   "apple", "banana", "apple", "cherry", "banana", "apple" ] # A list of words is defined.
by_letter = {}
for letter, group in groupby(sorted(words), key=lambda x: x[0]): # The sorted function sorts the words alphabetically. The lambda function extracts the first letter of each word for grouping.
    print(letter, list(group))

for word in words: # iterates over each word in words
    letter = word[0]  #     extracts the first letter of each word
    if letter not in by_letter: # if the letter is not already a key in the dictionary
        by_letter[letter] = [word]  # create a new entry with the letter as key and a list containing the word as value
    else:
        by_letter[letter].append(word)  # if the letter is already a key in the dictionary, append the word to the list associated with that letter
print(by_letter)

a ['apple', 'apple', 'apple']
b ['banana', 'banana']
c ['cherry']
{'a': ['apple', 'apple', 'apple'], 'b': ['banana', 'banana'], 'c': ['cherry']}

In [ ]:
from itertools import groupby
from typing import Any, Iterator

words = [   "apple", "banana", "apple", "cherry", "banana", "apple" ] # A list of words is defined.
by_letter = {}
for letter, group in groupby(sorted(words), key=lambda x: x[0]): # sorted(words) sorts the list alphabetically: ['apple', 'apple', 'apple', 'banana', 'banana', 'cherry'], groupby groups consecutive items by their first letter (key function lambda x: x[0])
    print(letter, list(group))
    for word in words: # iterate over the list of words
        if word.startswith(letter):  # check if the word starts with the current letter
            # setdefault returns the value of the key (letter), if the key exists; otherwise, it adds the key with the default value provided (an empty list [])
            by_letter.setdefault(letter, []).append(word) # if the letter is not in the dictionary, add it and initialize an empty list for its words; then append the word to this list
print(by_letter)

a ['apple', 'apple', 'apple']
b ['banana', 'banana']
c ['cherry']
{'a': ['apple', 'apple', 'apple'], 'b': ['banana', 'banana'], 'c': ['cherry']}

In [ ]:
from collections import defaultdict
words = ["apple", "banana", "apple", "cherry", "banana", "apple"]
by_letter = defaultdict(list) # creates a dictionary with lists as values by default
for word in words:
    
    by_letter[word[0]].append(word) # append the word to the list corresponding to its first letter
print(by_letter)

defaultdict(<class 'list'>, {'a': ['apple', 'apple', 'apple'], 'b': ['banana', 'banana'], 'c': ['cherry']})

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
ini_to_planet = {}
for planet in planets:
	if planet[0] not in ini_to_planet:
		ini_to_planet[planet[0]] = planet
	else:
		if isinstance(ini_to_planet[planet[0]], list):
			ini_to_planet[planet[0]].append(planet)
		else:
			ini_to_planet[planet[0]] = [ini_to_planet[planet[0]], planet]
print(ini_to_planet)

{'M': ['Mercury', 'Mars'], 'V': 'Venus', 'E': 'Earth', 'J': 'Jupiter', 'S': 'Saturn', 'U': 'Uranus', 'N': 'Neptune'}

under the hood:

```
initial = planet[0]                # e.g., 'M'
existing = ini_to_planet[initial] # existing = 'Mercury'
ini_to_planet[initial] = [existing, planet]  # ['Mercury', 'Mars']
```
1. Extracts the first character of the planet name (`planet[0]`), which represents its initial.
2. Checks if this initial has already been encountered in the dictionary `ini_to_planet`.
3. If not, it creates a new entry with this initial as the key and the planet as the value (in a list).
4. If the initial is already a key in the dictionary, it checks whether the current value associated with that key is a single planet or a list of planets.
5. If it's a single planet, it converts it into a list containing both the existing and the new planet.
6. Finally, it updates the dictionary with this new information.

In [ ]:
ini_to_planet = {}
for planet in planets:
    initial = planet[0]
    if initial not in ini_to_planet:
        ini_to_planet[initial] = [planet]  # Always start with a list
    else:
        ini_to_planet[initial].append(planet)  # Append to existing list
print(ini_to_planet)

{'M': ['Mercury', 'Mars'], 'V': ['Venus'], 'E': ['Earth'], 'J': ['Jupiter'], 'S': ['Saturn'], 'U': ['Uranus'], 'N': ['Neptune']}

In [ ]:
help(str.isdigit)

Help on method_descriptor:

isdigit(self, /) unbound builtins.str method
    Return True if the string is a digit string, False otherwise.

    A string is a digit string if all characters in the string are digits and there
    is at least one character in the string.

In [ ]:
def word_search(doc_list, keyword):
    """
    Takes a list of documents (each document is a string) and a keyword. 
    Returns list of the index values into the original list for all documents 
    containing the keyword.

    Example:
    doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]
    >>> word_search(doc_list, 'casino')
    >>> [0]
    """
    keywords = []
    for i, doc in enumerate(doc_list):
        tokens = doc.split()

        normalized = []
        for token in tokens:
            # Remove any trailing '.' or ',' from the word
            cleaned_token = token.rstrip('.,')
            # Convert to lowercase
            lower_token = cleaned_token.lower()
            # Add to the normalized list
            normalized.append(lower_token)
            
            
        if keyword.lower() in normalized:
                keywords.append(i)

    return keywords

In [ ]:
def multi_word_search(doc_list, keywords):
    """
    Takes list of documents (each document is a string) and a list of keywords.  
    Returns a dictionary where each key is a keyword, and the value is a list of indices
    (from doc_list) of the documents containing that keyword

    >>> doc_list = ["The Learn Python Challenge Casino.", "They bought a car and a casino", "Casinoville"]
    >>> keywords = ['casino', 'they']
    >>> multi_word_search(doc_list, keywords)
    {'casino': [0, 1], 'they': [1]}
    """
    
    keyword_to_indices = {}
    
    for keyword in keywords:
        # Find documents containing this keyword
        indices = word_search(doc_list, keyword)
        # Add to dictionary
        keyword_to_indices[keyword] = indices
    
    return keyword_to_indices

In [ ]:
doc_list = ["The Learn Python Challenge Casino.", "They bought a car and a casino", "Casinoville"]
keywords = ['casino', 'they']
print(multi_word_search(doc_list, keywords))

{'casino': [0, 1], 'they': [1]}

In [ ]:
# BUILT-IN SEQUENCE

#enumerate() function adds a counter to an iterable and returns it (the enumerate object).

letters = ['a', 'b', 'c', 'd']
for i in range(len(letters)):
    print(i, letters[i])

0 a
1 b
2 c
3 d

In [ ]:
for index, val in enumerate(letters):  # enumerate() returns a tuple (index, value)
    print(index, val)

0 a
1 b
2 c
3 d

In [ ]:
# sorted  returns a new sorted list from the elements of any sequence:

sorted([4, 2, 3, 1])

[1, 2, 3, 4]

In [ ]:
#reversed returns an iterator that accesses the given sequence in the reverse order.

list(reversed('hello'))

['o', 'l', 'l', 'e', 'h']

In [ ]:
# zip combines multiple lists into a single iterable of tuples (element-wise):

list(zip([1,2,3], ['a', 'b', 'c'], [True, False, True]))

[(1, 'a', True), (2, 'b', False), (3, 'c', True)]

In [ ]:
for ind, (a,b) in enumerate(zip(['a','b','c'],[1,2,3])):  # enumerate gives index and element, zip combines them into pairs
    print(ind, a, b)

0 a 1
1 b 2
2 c 3

In [ ]:
# Comprehensions

# List comprehensions - [expr for value in collection if condition]
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
strings = ["hello", "world"]
capitalized_strings = [s.upper() for s in strings] # List of uppercase strings
print(capitalized_strings)

['HELLO', 'WORLD']

In [ ]:
strings2 = ["hello", "world", "foo", "bar"]
short_strings = [s for s in strings2 if len(s) <= 3] # List of short strings with the condition if length is less than or equal to 3
print(short_strings)

['foo', 'bar']

In [ ]:
#nestled list comprehension
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened = [num for row in matrix for num in row] # List comprehension to flatten a nested list
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# dict comprehension

# dict_comp = {key-expr: value-expr for value in collection if condition}

# Example: Create a dictionary where keys are numbers and values are their squares.
squares = {x: x**2 for x in range(1, 6)} # Dictionary comprehension to create a dictionary of numbers and their squares from 1 to 5
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# set comprehension

# set_comp = {expr for value in collection if condition}

uni_len = {len(x) for x in strings2} # Set comprehension to find the unique lengths of strings in the list 'strings2'
print(uni_len)

{3, 5}

In [ ]:
set(map(len, strings2)) # Using map and set functions to achieve the same result as above

{3, 5}

In [ ]:
name_data = [["John", "Emily", "Michael", "Mary", "Steven"],
 ["Helen", "Bill", "Rick", "Betty", "Tom"],
 ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [ ]:
[names for names in name_data if len(names) > 4]

[['John', 'Emily', 'Michael', 'Mary', 'Steven'],
 ['Helen', 'Bill', 'Rick', 'Betty', 'Tom'],
 ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [ ]:
[name for names in name_data for name in names if len(name) > 4 ] #   nested list comprehension

['Emily',
 'Michael',
 'Steven',
 'Helen',
 'Betty',
 'Maria',
 'Javier',
 'Natalia',
 'Pilar']

In [162]:
liste6 = [1,2,3,4,5,6,7]

for i in range(len(liste6)):
    liste6[i] += 10

print(liste6)

[11, 12, 13, 14, 15, 16, 17]

In [164]:
#let's replace the loop with a single expression:

[x + 10 for x in liste6] # not exactly same as it makes a new list object

[21, 22, 23, 24, 25, 26, 27]

In [ ]:
liste7 =  [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
    ]

[col[0] for col in liste7] #  "for each column in liste7, take the first element"

[1, 4, 7]

In [173]:
[col[2] for col in liste7] # "for each column in liste7, take the third element"

[3, 6, 9]

In [177]:
# a way to build a new list by running an expression on each item in a sequence, one at a time, from left to right
# [expression for item in iterable]

# composed of an expression and a looping construct that share a variable name 

liste8 = [[1, 2], [3, 4]]
new_liste = [col[0] for col in liste8]
print(new_liste)

[1, 3]

In [178]:
[x[1] + 10 for x in liste8]

[12, 14]

In [182]:
#filter out odd numbers
[x + 10 for y in liste8 for x in y if x % 2 == 0]

[12, 14]

In [184]:
[x + 10 for y in liste8 for x in y] # without the filter condition

[11, 12, 13, 14]

In [185]:
# double the chracters in a string
[char * 2 for char in "Toygar"]

['TT', 'oo', 'yy', 'gg', 'aa', 'rr']

In [ ]:
print(liste6)
list(map(lambda x: x*2, liste6)) # map function with a lambda function[ lambda x: x * 2 for x in liste6]

[11, 12, 13, 14, 15, 16, 17]

[22, 24, 26, 28, 30, 32, 34]

In [195]:
[[x ** 2, x ** 3, x ** 4] for x in range(10)] # list comprehension, creates a list of lists with powers of x from 2 to 4, i.e., [x^2, x^3, x^4] for each x in range(10)

[[0, 0, 0],
 [1, 1, 1],
 [4, 8, 16],
 [9, 27, 81],
 [16, 64, 256],
 [25, 125, 625],
 [36, 216, 1296],
 [49, 343, 2401],
 [64, 512, 4096],
 [81, 729, 6561]]

In [198]:
#expressions can be used to collect multiple values 
[[x, x/2, x**2] for x in range(-5,10) if x > 0] # list comprehension, conditionals, nested lists, giving us a list of lists of numbers which are greater than 0

[[1, 0.5, 1],
 [2, 1.0, 4],
 [3, 1.5, 9],
 [4, 2.0, 16],
 [5, 2.5, 25],
 [6, 3.0, 36],
 [7, 3.5, 49],
 [8, 4.0, 64],
 [9, 4.5, 81]]

In [199]:
liste7

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [211]:
[sum(x) for x in liste7] # sum all elements of each sublists and create a new list with these sums

[6, 15, 24]

In [217]:

[str(x) + y for x in [1,2,3] for y in "abc"] # list comprehension with nested loops, creates all combinations of elements from both lists

['1a', '1b', '1c', '2a', '2b', '2c', '3a', '3b', '3c']

In [6]:
[val if val % 2 else -val for val in range(20) if val % 3] # conditional on the value and conditional on the iterator, evaluating whether a value is truthy or falsy

# excludes 0 and other numbers divisible by 3 because they evaluate to Falsy in Python, and assign even numbers as negative values of numbers divisible by 2.

[1, -2, -4, 5, 7, -8, -10, 11, 13, -14, -16, 17, 19]

In [5]:
[val if val % 2 == 0 else -val for val in range(20) if val % 3 == 0]

# includes numbers that are divisible by 3, and assign negative sign to those that are divisible by 2.

[0, -3, 6, -9, 12, -15, 18]

Filtering: When placed at the end of the list comprehension, like if val % 3, it acts as a filter and excludes values where the condition is false.

Conditional Expression: When used within the list comprehension before the for loop (like val if val % 2 else -val), it determines what to include based on a condition, but doesn't exclude anything.

In [ ]:
dizi1 = range(20)
[i for i in dizi1 if i % 3] # 3'e bölünemeyenler, iterator üzerine koşullu ifade

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

In [14]:
[x if x % 2 else None for x in dizi1] # Listede values üzerinde bir koşul kontrolü yaparak elemanlarla ne yapacağımız belirliyoruz

[None,
 1,
 None,
 3,
 None,
 5,
 None,
 7,
 None,
 9,
 None,
 11,
 None,
 13,
 None,
 15,
 None,
 17,
 None,
 19]

In [15]:
[x if x % 2 else -x for x in dizi1] # decides how to include values, what to do with each value, change how the values are included

[0, 1, -2, 3, -4, 5, -6, 7, -8, 9, -10, 11, -12, 13, -14, 15, -16, 17, -18, 19]

# Functions

In simple terms, a function is a device that groups a set of statements so they can be run more than once in a program—a packaged procedure invoked by name. 

def name(arg1, arg2,... argN):

statements

def name(arg1, arg2,... argN):

    """docstring (optional)"""
...

return value

In [ ]:
# declare it by def word:
def word():
    return "Hello World" #  A function contains a block of code with an optional use of the return keyword

In [2]:
word()

'Hello World'

In [7]:
def my_func(x , y):  # defining the function
    
    return x+y

my_func(1,2)

3

In [8]:
# function without a return
def my_func(a, b):
    
    print('sum =', a + b)

my_func(1, 2)

sum = 3

In [10]:
a = my_func(3, 4) # save the result in a variable

a

sum = 7

In [ ]:
seq1 = [1,2,3]
seq2 = ['a','b','c']
seq3 = seq1 + seq2
seq4 = []
seq5 = []
for i in seq3:
    if isinstance(i, int):
        seq4.append(int(i))
    else: 
        if isinstance(i, str):
            seq5.append(i)


print(seq4)
print(seq5)

[1, 2, 3]
['a', 'b', 'c']

In [1]:
# return multiples values

def func():
    a = 1
    b = 2
    c = 3
    return a,b,c


x,y,z = func()

print(x,y,z)

1 2 3